{% extends 'base.html' %}
{% block content %}
<div id="content">
				<div class="inner">
    <h1>Изменение пароля</h1>
	{%	if	validlink	%}
<p>Пожалуста вводите новый пароль:</p>
<form action="" method="post">
	{{ form.as_p	}}
	{%	csrf_token	%}
	<p><input	type="submit"	value="Изменить пароль"	/></p>
			</form>
	{%	else	%}

<p>Ссылка сброса пароля была недопустимой, возможно, потому, что она имеет

уже используется.	Пожалуйста, запросите новый сброс .</p>
		{%	endif	%}
                </div>
</div>
{% endblock %}