{% extends 'base.html' %}
{% load static %}
{% block title %}
    Кітапхана ережесі
{% endblock %}
{% block content %}

<header id="header"><!--header-->


		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="logo ">
					<a href="{% url 'home:home' %}"><img src="{% static 'images/home/logo.png' %}" alt="" width="150"/></a>
						</div>

					</div>
                    <div class="col-sm-5">
						<div class="logo pull-left">
					<h1>3 Талапкер орта мектебі</h1>
                        </div>

					</div>

					<div class="col-sm-4">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav lock">

						                  {% if request.user.is_authenticated %}
			<li><a href="{% url 'registration:logout' %}"><i class="fa fa-lock"></i> Шығу</a></li>

                            {% else %}

								<li><a href="{% url 'registration:login' %}"><i class="fa fa-lock"></i> Кіру</a></li>
								<li><a href="{% url 'registration:register' %}"><i class="fa fa-lock"></i> Тіркелу</a></li>
							{% endif %}
</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->

		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">			<div class="col-sm-12">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="{% url 'home:home' %}" >Кітапхана</a></li>
								<li><a href="{% url 'home:book_list' %}">Кітаптар</a></li>
								<li><a href="{% url 'home:author_list' %}">Авторлар</a></li>
								<li class="dropdown"><a href="#">Ережелер<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">

                                        <li><a href="{% url 'home:book_rules' %}" class="active">Кітапхана ережесі</a></li>
                                        <li><a href="{% url 'home:teshin_rules' %}">Техника қауіпсіздік ережесі</a></li>
                                        <li><a href="{% url 'home:read_rules' %}">Оқулық қолдану ережесі</a></li>
                                    </ul>
                                </li>

	                			<li><a href="{% url 'home:library_best' %}">Кітапхана белсенділері</a></li>


                                <li><a href="{% url 'home:about_us' %}">Кітапхана туралы</a></li>
								<li><a href="{% url 'home:contact_us' %}">Бізге хат</a></li>



							</ul>
						</div>
					</div></div>




            </div>

				</div>



	</header><!--/header-->

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Жанрлар</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{% for genre in genres %}
                            <div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="{{ genre.get_absolute_url }}"><span class="pull-right">({{ genre.genre_book.count }})</span>{{ genre.name }}</a></h4>
								</div>
							</div>

							{% endfor %}


						</div><!--/category-products-->

						<div class="brands_products"><!--brands_products-->
							<h2>Авторлар</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
                                    {% for author in authors %}
									<li><a href="{{ author.get_absolute_url }}"> <span class="pull-right">({{ author.author_book.count }})</span>{{ author.name }}</a></li>

                                    {% endfor %}

									</ul>
							</div>
						</div><!--/brands_products-->

					</div>
				</div>

				<div class="col-sm-9 padding-right">
                    <h2 class="title text-center">Кітапхана ережелері</h2>
<h1>1. Жалпы ереже</h1>
                    <ul><li>
     Мектеп кітапханасын пайдалану ережелері мектеп кітапханасы оқырмандарына қызмет көрсетуді ұйымдастырудың жалпы тәртібін, кітапхана мен оқырманның құқықтары мен міндеттерін көрсетеді.
 </li></ul>
 <h2>2. Оқырмандардың құқықтары</h2>
                    <ul><li>
                         Кітапхананы пайдалану құқығы оқушыларға, педагогикалық жұмысшылар мен басқа мектеп қызметкерлеріне және оқушылардың ата-аналарына беріледі.</li>
    <li> Кітапхана абонементі қорынан кез келген құжатты уақытша пайдалануға алу.</li>
    <li> Кітапхана тарапынан өткізілген іс-шараларға қатысу.</li>
    <li> Кітапханаға жазылу үшін әр азаматтың жеке куәлігі болуы қажет.</li>
    <li> Кітаптарды жыртқан оқушы немесе оқырман, ақшалай айып төлейді.</li>
    <li> Оқушылар сыртқы киімдері мен портфелін және заттарын киім ілетін бөлмеге тапсыруы қажет.

</li></ul>

<h1>3. Оқырмандарға қызмет көрсету бойынша кітапханашының  міндеттері:</h1>
                    <ul><li>
                        Танысуға мүмкін орында ілінген кітапхананы пайдалану Ережелеріне сәйкес оқырмандарға қызмет көрсету.</li>
                        <li> Кітапханада жұмыс істеу үшін оқырмандарға қолайлы жағдай жасау. </li>
                        <li> Оқырмандарға қажетті әдебиеттерді таңдауда көмек көрсету. </li>
    <li> Кітапханаға құжаттардың уақытында тапсырылуын және оқырмандар тарапынан кітапхананы пайдалану Ережелерінің орындалуын қадағалау.
</li></ul>

				</div>
			</div>
		</div>
	</section>


{% endblock %}

